<form class="form" [formGroup]="loginForm" #form>
  <h3 class="form__title"> Login Form </h3>
  <div class="form__field">
    <label for="firstName" class="field__title">First Name
      <abbr title="required" aria-label="required">*</abbr>
    </label>
    <input type="text" class="field__input" id="firstName" formControlName="firstName">
    <div class="field--error" [hidden]='firstName.untouched && firstName.pristine'>
      <p *ngIf="firstName.hasError(validationMessages.firstName.type)">
        {{ validationMessages.firstName.message}}
      </p>
    </div>
  </div>
  <div class="form__field">
    <label for="lastName" class="field__title">Last Name
      <abbr title="required" aria-label="required">*</abbr>
    </label>
    <input type="text" class="field__input" id="lastName" formControlName="lastName">
    <div class="field--error" [hidden]='lastName.untouched && lastName.pristine'>
      <p *ngIf="lastName.hasError(validationMessages.lastName.type)">
        {{ validationMessages.lastName.message}}
      </p>
    </div>
  </div>
  <div class="form__field">
    <label for="email" class="field__title">Email
      <abbr title="required" aria-label="required">*</abbr>
    </label>
    <input type="email" class="field__input" id="email" formControlName="email">
    <div class="field--error" [hidden]='email.untouched && email.pristine'
      *ngFor="let emailMessage of validationMessages.email">
      <p *ngIf="email.hasError(emailMessage.type)">
        {{ emailMessage.message}}
      </p>
    </div>
  </div>
  <div class="form__field">
    <label for="password" class="field__title">Password
      <abbr title="required" aria-label="required">*</abbr>
    </label>
    <input type="password" class="field__input" id="password" formControlName="password">
    <div class="field--error" [hidden]='password.untouched && password.pristine'
      *ngFor="let passwordMessage of validationMessages.password">
      <p *ngIf="password.hasError(passwordMessage.type) || loginForm.hasError(passwordMessage.type)">
        {{ passwordMessage.message}}
      </p>
    </div>
  </div>
  <div class="form__field">
    <p *ngIf="isUserRegistered" class="field--success">Successfully registered the user!</p>
  </div>
  <input type="submit" class="submit__btn" [disabled]="!loginForm.valid" (click)="onSubmit()" value="Submit">
</form>
